section{
    display: flex;
}
img{
    margin-right: 5%;
    flex-basis: 15%;
    height: auto;
}
a {
    text-decoration: none;
    color: black;
}

#commentaire{
    display: flex;
}

#commentaire>*{
    margin: 1%;
}

#commentaire >input{
    flex-grow: 1;
}