.container img{
    margin: auto;
    display: block;
    margin-bottom: 10px;
}

.container label{
    flex-basis: 20%;
    text-align: end;
}

.container input{
    flex-basis: 75%;
}

.container div {
    display: flex;
    margin-bottom: 10px;
    width: 100%;
}