a {
    text-decoration: none;
    color: black;
}

li{
    list-style: none;
}

#recherche{
    border: black 1px solid;
    border-radius: 5%;
}
.central{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#button_recherche{
    margin : 5px;
}

.formulaire_prix{
    border-radius: 15px;
}

#mainpage{
    background-color: rgba(191, 186, 240, 0.74);
}