{% extends "base.html" %}
{% block styles %}
    {{ super() }}
        <link rel="stylesheet" href="{{ url_for('static',
        filename='home.css') }}">
        <link rel="stylesheet" href="{{ url_for('static',
        filename='templates2.css') }}">
{% endblock %}
{% block content %}
<h1>{{ title }}</h1>
<section>
    <ul>
        {% for auteur in auteurs %}
        <li>
            <a href="/author/{{ auteur.name }}">
                auteur:  {{ auteur.name }}
            </a>
        </li>
        {% endfor %}
    </ul>
</section>
{% endblock %}